{% for host in groups['masters'] -%}
   {{ hostvars[host].RAM  }}
   {%- if not loop.last %},{% endif -%}
{%- endfor %}
,{% for host in groups['slaves'] -%}
   {{ hostvars[host].RAM  }}
   {%- if not loop.last %},{% endif -%}
{%- endfor %}
